<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig
  xmlns="http://ibatis.apache.org/dataMapper"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <settings>
    <setting useStatementNamespaces="false" />
    <setting cacheModelsEnabled="true" />
    <setting validateSqlMap="true" />
  </settings>
  <providers embedded="Talks.Dao.Impl.providers.config,Talks.Dao.Impl"/>
  <database>
    <provider name="sqlServer4.0" />
    <dataSource name="TalksDB" connectionString="Data Source=(local)\sql2008r2;Initial Catalog=TalksDB;uid=sa;pwd=sd;"/>
  </database>

  <sqlMaps>
    <!--通过程序集加载,使用【embedded="${命名空间文件名,不带.dll的程序集名}" 】格式，-->
    <sqlMap  embedded="Talks.Dao.Impl.Maps.sqlFile.xml,Talks.Dao.Impl" />
  </sqlMaps>
</sqlMapConfig>