<div class="col-sm-2 col-lg-2">
    <div class="sidebar-nav">
        <div class="nav-canvas">
            <div class="nav-sm nav nav-stacked"></div>
            <ul class="nav nav-pills nav-stacked main-menu">
                <li class="nav-header">功能菜单</li>
                <li class="accordion"><a href="#">
                    <i class="glyphicon glyphicon-list-alt"></i><span><span>&nbsp;</span>XX管理</span></a>
                    <ul class="nav nav-pills nav-stacked">
                        <li data-id="order-list"><a href="/home/list"><i
                            class="glyphicon  glyphicon-list"></i><span>&nbsp;</span>列表</a></li>
                        <li><a href="/home/index"><i
                            class="glyphicon  glyphicon-list"></i><span>&nbsp;</span>列表</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
