<?xml version="1.0" encoding="utf-8" ?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <settings>
    <setting useStatementNamespaces="false" />
    <setting cacheModelsEnabled="true" />
    <setting validateSqlMap="true" />
  </settings>

  <database>
    <provider name="sqlServer2.0" />
    <dataSource name="SalesData" connectionString="Data Source=127.0.0.1\sql2008r2;Initial Catalog=BaseCardDB;uid=sa;pwd=sd;"/>
  </database>

  <sqlMaps>
    <sqlMap resource="Maps/CustomerMap.xml"/>
    <sqlMap resource="Maps/ProductMap.xml"/>
  </sqlMaps>
</sqlMapConfig>