<?xml version="1.0" encoding="utf-8"?>
<Root>
  <Version>1.0</Version>
  <CurrentOpen1>E:\宇浪开发项目\0816fc\模型\Purchase.blm</CurrentOpen1>
  <CurrentOpen2>E:\宇浪开发项目\0816fc\模型\UserInfos.blm</CurrentOpen2>
  <CurrentOpen3>E:\宇浪开发项目\0816fc\模型\Purchase.blm</CurrentOpen3>
  <CurrentOpen4>E:\宇浪开发项目\0816fc\模型\NewHouseInfo.blm</CurrentOpen4>
  <CurrentOpen5>E:\宇浪开发项目\0816fc\模型\NewHouseAsk.blm</CurrentOpen5>
  <LastOpenPath>E:\宇浪开发项目\0816fc\模型\Purchase.blm</LastOpenPath>
</Root>